select {
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none;    /* Firefox */
  padding:0.2rem 0.6rem;
  border:none;
}

/* .theme-switcher-wrapper {
  position: relative;
  display: inline-block;
} */

/* .theme-switcher {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2rem; 
} */

/* .theme-switcher-wrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} */